

:root {
    --dark-color: #f97316;
    --text-color-in-dark: #faf5ff;
    --buttons-color: #ea580c;
    --buttons-color-hover: #fb923c;
    --grey-backround: #d4d4d4;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 1.5fr 8.5fr;
    grid-template-rows: 0.5fr 3fr;
    grid-template-areas: "sidebar header"
                         "sidebar main";
    /* overflow: hidden; */
    min-height: 100%;
    min-width: 100vw;
}



.sidebar h1 {
    padding: 20px 0;
    font-size: calc(.7rem + 1vw);
}

.sidebar {
    grid-area: sidebar;
    display: grid;
    gap: 10px;
    background-color: var(--dark-color);
    color: var(--text-color-in-dark);
    grid-template-rows: 10% 30%;
}

.sidebar > div {
    padding-left: 20px;
    font-size: calc(.5rem + 1vw);
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    gap: 3px;
    
}



.header {
    grid-area: header;
    padding: 30px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    /* grid-template-rows: 1fr 1fr; */
    align-items: center;
    box-shadow: 0 10px 10px gray;
    
}



.search-bar {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
         
}

.search-bar input[type='text'] {
    background-color: var(--text-color-in-dark);
    border: 1px solid #D6D9DC;
    border-radius: 20px;
    padding: 7px;
    padding-left: 20px;
    font-size: 20px;
    flex: 1;
    max-width: 80%;
}

.profile-pic{
    width: 50px;
    height: 50px;
}

.profile{
    display: flex;
    gap: 2rem;
    justify-content: flex-end;
    align-items: center;
}

.profile-pic-welcome{
    width: 70px;
    height: 70px;
    grid-area: image;
}

.profile-welcome {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "image text"
                         "image name";
    justify-items: flex-start;
    align-items: center;
    gap: 2px;
}

.buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4px;
    
}

.buttons > button {
    
    background-color: var(--buttons-color);
    padding: 10px;
    border-radius: 40px;
    color: var(--text-color-in-dark);
    font-size: 1.2rem;
    border: 0;
}

.buttons > button:hover {
    background-color: var(--buttons-color-hover);
    
}

.buttons > button:active {
    background-color: var(--buttons-color-hover);
    transform: translateY(4px);
}

.main {
    grid-area: main;
    padding: 50px;
    background-color: var(--text-color-in-dark);
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "projects announcements"
                         "projects trending"; 
    min-width: 75%;
    position: relative;
}

.projects{
    display: grid;
    grid-area: projects;
    grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
    gap: 2rem;
    position: relative;
    
    
}
.main .projects-title{
    position: absolute;
    top: 10px;
    left: 45px;
    
}

.projects > div{
    display: grid;
    grid-template-areas: "text text text"
                         ". . image";
    background-color: white;
    align-items: center;
    padding: 20px;

    box-shadow: -10px 0px 0px 0px var(--dark-color);
   
    border-radius: 10px;
}

.projects > div .main-buttons {
    grid-area: image;
}



.projects > div .project-text {
    grid-area: text;
    font-size: .9rem;
}

.announcements {
    padding: 0 20px;
    background-color: white;
    align-items: center;
    padding: 20px;
    box-shadow: 0 5px 10px gray;
    border-radius: 10px;
    margin-left: 20px;
}

.main .announcements-title{
    position: absolute;
    top: 10px;
    right: 20%;
}